tests/1st_labelig_data.csv
tests/2nd_labeling_data.csv
tests/3rd_labeling_data.csv
tests/fine_tuning_data.csv
tests/recent_media_data.csv
tests/recent_user_data.csv
config/
# finetune-bert-kor/checkpoint-5982/